/* ----------Developed by JDouglasbrandao------------ */
header{
   position: fixed;
   width: 100%;
   height: 50px;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #171717;
   padding: 32px 12%;
   transition: all .50s ease;
}

/* Developed by JDouglasbrandao */
.logo{
   display: flex;
   align-items: center;
   
}

.logo i{
   color:var(--main-color);
   font-size: 28px;
   margin-right: 3px;
}
.logo span{
   color:var(--text-color);
   font-size: 1.7rem;
   font-weight: 600;
}

.Navbar{
   display: flex;
   align-items: center;
}

.Navbar a {
 color: var(--text-color);
 font-size: 1.1rem;
 font-weight: 500;
 padding: 5px 0;
 margin: 0px 50px;
 transition: all .50s ease;
}

.Navbar a:hover{
   color: var(--main-color);
}

.Navbar a.active{
   color: var(--main-color);
   

}

.main{
   display: flex;
   align-items: center;
   
}
/* Developed by JDouglasbrandao */
.main a{
   margin-right: 25px;
   margin-left: 10px;
   color: var(--text-color);
   font-size: 1.1rem;
   font-weight: 500;
   transition: all .50s ease;
   
}

.user{
   display: flex;
   align-items: center;
}

.user i{
   color: var(--main-color);
   font-size: 28px;
   margin-right: 7px;
}
/* Developed by JDouglasbrandao */
.main a:hover{
   color: var(--main-color);
}

#menu-icon{
   font-size: 35px;
   color: var(--text-color);
   cursor: pointer;
   z-index: 10001;
   display: none;
}

@media (max-width: 1280px ){
   .header{
  padding: 14px 2%;
  transition: .2s;
}

.Navbar a{
   padding: 5px 0;
   margin: 0 20px;
}
}
/* Developed by JDouglasbrandao */

@media (max-width:1090px){
   #menu-icon{
       display: block;
       
   }
   .Navbar{
       position: absolute;
       margin-right: 90px;
       top: 100%;
       right: -100%;
       width: 290px;
       height: 19vh;
       background: var(--main-color);
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       border-radius: 10px;
       transition: all .50s ease;
   }

   .Navbar a {
       display: block;
       margin: 12px 0px;
       padding: 0px 25px;
       transition: all .50s ease;
   }
   .Navbar a:hover{
       color: var(--text-color);
       transform: translateY(5px);
   }
/* Developed by JDouglasbrandao */
   .Navbar a.active{
       color: var(--text-color);
       
   }
   .Navbar.open{
       right: 2%;
   }
}
/* ----------Developed by JDouglasbrandao------------ */